.toolbar-background {
  background-color: green;
}

.map {
  height: 200px;
}

.currency{
  font-size: 25px;
  right: 20%;
  color: black
}

.amount-card{
  padding: 10px 25px;
}

.donate-button{
  color: white;
  background-color: green;
  float: right;
  margin: 10px;
}
