.sign-up-button{
    margin: 25px 5px;
    float: right;
    background-color: green;
}

.register-button{
    margin: 25px 5px;
    float: left;
    background-color: green;
}

.login-header{
    font-size: 25px;
}

.bg-image{
    background-image: url('https://i.pinimg.com/736x/b0/9f/b6/b09fb6b5ba920bb76d8c1d9ee6572ad6--emerald-city-emerald-green.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.toolbar-background {
    background-color: green;
  }

  .main-header{
      color: white;
  }

  .add-margin{
      margin: 25px 0px;
  }

//   .semi-opaque-card{
//       background-color: rgba(255, 255, 255, 0.70);
//   }
  
//   .remove-background{
//       background-color: rgba(255, 255, 255, 0);
//   }

//optional??


