.toolbar-background {
    background-color: green;
  }

  .bg-image{
    background-image: url('https://i.pinimg.com/736x/b0/9f/b6/b09fb6b5ba920bb76d8c1d9ee6572ad6--emerald-city-emerald-green.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.register-button{
    margin: 25px 5px;
    background-color: green;
}

.extra-message{
    padding: 10px;
    text-align: center;
}

.register-header{
    font-size: 25px;
}